@font-face {
  font-family: 'league_spartanbold';
  src: url('/LeagueSpartan-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

.ui.wide.left.sidebar {
  width: 375px;
}

@media only screen and (max-width: 767px) {
  .ui.container {
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'league_spartanbold';
}

/* ALL CSS FOR THE APP.JS & ITS CHILDREN GO HERE. */

#apiDropDownMenu {
  margin-right: 20px;
}

#apiDropDownMenu a {
  color: black;
}

#mobileTellYourStoryNavFooter {
  background-color: #fff6f1;
}

#mobileTellYourStoryStorySubmission input {
  border: solid #007c8c 2px;
}

#mobileTellYourStoryNavFooter li {
  list-style-type: none;
  text-decoration: underline;
  text-decoration-style: thick;
  padding: 20px 0 20px 0;
  font-size: 20px;
}

#mobileTellYourStoryStorySubmission textarea {
  border: solid #007c8c 2px;
}

#mobileTellYourStoryNavFooterLink {
  color: black;
  background-color: #fff6f1;
  list-style-type: none;
  text-decoration-color: #ef844f;
  text-decoration-style: thick;
}

#mobileTellYourStoryStorySubmission button {
  background-color: #007c8c;
  color: white;
  font-size: 20px;
  box-shadow: 1px 2px;
  padding: 10px 20px 10px 20px;
}

#mobileTellYourStoryBodyText {
  background-color: #fff6f1;
}

#mobileTellYourStoryBodyText p,
h1 {
  margin-left: 20px;
}

#mobileHomePageNavBar {
  background-color: #fff6f1;
}

#mobileTellYourStoryStorySubmission {
  padding: 20px 0px 50px 0px;
  background-color: #ef844f;
}

#popUpNavBar {
  margin: 0px 10px 10px 10px;
  background-color: #007c8c;
  color: #fff6f1;
  width: 375px;
}

#popUpLinks {
  margin: 20px 0 0 10px;
}

#popUpLinks h3 {
  background: transparent;
  border-radius: 5px;
  height: 3px;
  box-shadow: 0 20px 0 0 #ef844f;
  font-family: sans-serif;
  margin-bottom: 10px;
}

#popUpLinks a {
  color: white;
}

.x {
  color: white;
}

#popUpIndented {
  margin: -10px 0 0 25px;
}

#mobileHomePageTitle {
  line-height: 1em;
  display: flex;
  font-size: 200%;
  background-color: #fff6f1;
  padding: 25px 0 25px 20px;
}

#testimonial {
  padding: 20px 20px 20px 20px;
  background-color: #107b8c;
  color: #ffffff;
}

#bodyText {
  background-color: #107b8c;
  color: #ffffff;
  padding: 20px;
  margin: none;
}

#mobileHomePageTicket {
  color: black;
  background-color: #fff6f1;
  text-decoration: underline;
  text-decoration-color: #ef844f;
  text-decoration-style: thick;
  padding-left: 20px;
}

#mobileHomePageFile {
  background-color: red;
}

#imageEmbedFullWidth {
  padding: 0px;
  width: auto;
  height: 100%;
}

#imageEmbedCroppedWidth {
  height: 100%;
  width: auto;
  background-color: #f18448;
  padding: 20px;
}

#unravelLiveIntroduction {
  margin: 0px;
  background-color: #f18448;
  padding-left: 20px;
}

#upcomingShowsTitle {
  padding-left: 20px;
  background-color: #fff6f1;
}

#upcomingShowsContainer {
  background-color: #fff6f1;
}

#mobileUpcomingShow {
  padding-left: 20px;
  background-color: #fff6f1;
}

#mobileUpcomingShowMajorContent {
  font-size: 20px;
  font-weight: bold;
  background-color: #fff6f1;
}

#mobileUpcomingShowPoster {
  width: auto;
  height: 100%;
  background-color: #fff6f1;
  padding: 20px;
}

#imageEmbedCroppedWidth {
  height: 100%;
  width: auto;
  background-color: #f18448;
  padding: 20px;
}

#mobileUpcomingShowPosterContainer {
  padding: 50px;
}

#posterEmbedCroppedWidth {
  /* setting height to 80% seems like a hack */
  height: 100%;
  width: 100%;
  object-fit: contain;
  background-color: #fff6f1;
  padding: 20px;
}

#upcomingshows {
  background-color: #fff6f1;
  padding-left: 20px;
  margin: 0px;
}

#upcomingshowticketbutton {
  padding-left: 20px;
  background-color: #f18448;
  color: black;
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 20px 10px 20px;
  box-shadow: 1px 2px;
  margin-bottom: 10px;
}

#mobileHomePageNavFooter {
  color: white;
  list-style-type: none;
  text-decoration: none;
  background-color: #f18448;
  text-decoration: underline;
  text-decoration-color: #107b8c;
  text-decoration-style: thick;
  padding: 20px 0 20px 0;
}

#mobileHomePageNavFooterLink {
  color: white;
  list-style-type: none;
  text-decoration: none;
  text-decoration-color: #107b8c;
  text-decoration-style: thick;
}

#footer {
  color: white;
  background-color: #107b8c;
  list-style-type: none;
  text-decoration: underline;
  text-decoration-color: #ef844f;
  text-decoration-style: thick;
  padding-bottom: 20px;
  font-size: 15px;
}

#footerBackground {
  background-color: #107b8c;
}

#footerCopyright {
  color: white;
  background-color: #107b8c;
  list-style-type: none;
  text-decoration: none;
  font-size: 10px;
  font-family: Courier, monospace;
}

#footerImage {
  width: auto;
  height: 100%;
  padding-left: 20px;
}
